{{ define "main" }}
{{ $tagsContent := "" }}
{{ with .Params.tags }}
{{ if gt (len .) 1 }}
{{ $tagsContent = "Posted with Tags <i class=\"fa fa-tags\"></i>: " }}
{{ else }}
{{ $tagsContent = "Posted with Tags <i class=\"fa fa-tag\"></i>: " }}
{{ end }}
{{ end }}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ .Title }}</h1>
    <p class="post-meta"><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" itemprop="datePublished">{{ .Date.Format "Jan 2, 2006" }}</time>{{ if .Params.author }} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ .Params.author }}</span></span>{{ end }}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ .Content }}
  </div>

  <hr>

  <p id="post-meta">{{ $tagsContent | safeHTML }}
    {{ range $i, $tag := .Params.tags }}
      {{- if $i }}, {{ end }}<a href="/blog/tag/{{ $tag | urlize }}/">{{ $tag }}</a>
    {{- end -}}
  </p>

  {{ if .Params.comments }}
  <hr>
  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
        this.page.url = "http://ghoshbishakh.disqus.com{{ .RelPermalink }}";
        this.page.identifier = "{{ .File.UniqueID }}";
    };
    (function() {
      var d = document, s = d.createElement('script');
      s.src = '//ghoshbishakh.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  {{ end }}
</article>
{{ end }}
