{{ define "main" }}
<h1 class="page-title">
<div class="page-title__text">{{ .Title }}</div>
{{ if .Params.subtitle }}<div class="page-title__subtitle">{{ .Params.subtitle }}</div>{{ end }}
</h1>

{{ .Content }}

<ul class="list-posts">
{{ range .Pages.ByDate.Reverse }}
<li class="post-teaser">
<a href="{{ .RelPermalink }}">
<span class="post-teaser__title">{{ .Title }}</span>
<span class="post-teaser__date">{{ .Date.Format "02 January 2006" }}</span>
</a>
</li>
{{ end }}
</ul>

<div class="about">
<div class="about__devider">*****</div>
<div class="about__text">
<br>Courtesy ☕ Pudhina theme by Knhash 🛠️
</div>
</div>
{{ end }}
