{{ define "main" }}
<div class="hero">
{{ partial "hero-animation.html" . }}
<div class="hero-content">
<img src="/assets/img/dp3.jpg" alt="{{ .Title }}" class="hero-avatar">
<h1>{{ .Title }}</h1>
{{ if .Params.subtitle }}<p class="hero-subtitle">{{ .Params.subtitle | safeHTML }}</p>{{ end }}
<div class="hero-links">
<a href="https://scholar.google.co.in/citations?user=5kBZSVkAAAAJ&hl=en" target="_blank">Google Scholar</a>
<a href="https://dblp.uni-trier.de/pers/hd/g/Ghosh:Bishakh_Chandra" target="_blank">DBLP</a>
<a href="https://github.com/ghoshbishakh" target="_blank">GitHub</a>
</div>
</div>
</div>

<div class="hero-download">
<a href="/assets/resume.pdf"><i class="fa fa-download"></i> Download as PDF</a>
</div>

<div class="page-content">
{{ .Content }}
</div>
{{ end }}
